<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../layui/css/layui.css" media="all">
	<link rel="stylesheet" href="../css/thesame.css" media="all">
	<link rel="stylesheet" href="../css/headCss.css" media="all">
	<link rel="stylesheet" href="../css/footer.css" media="all">
	<link rel="stylesheet" href="../userinfo/css/popCss.css" media="all">
	<link rel="stylesheet" href="../userinfo/css/rightCon.css" media="all">

</head>
<style type="text/css">
	.new-add-left li {
		margin-bottom: 0;
	}
</style>
<body class="layui-layout-body">
	<input type="hidden" id="userNo" th:value="${userInfo.userNo}">

	<div class="layui-body">
		<!-- 内容主体区域 -->
		<div class="add-title pad25px"><span class="mr10px"><img src="../userInfo/img/return_icon.png"></span><span>信息查看</span></div>
		<div class="new-add-box bgWhite box-shadows border-radius4 background-Gray">
			<div class="new-add-box-scroll">
				<div class="mb25px">
					<div class="new-add-title relative overflow mb15px"><span class="ml15px">基本信息</span></div>
					<div class="new-add-con new-add-form pb25px border-bot1px ">
						<article class="new-add-left new-add-form-con">
							<ul class="overflow lh32px">
								<li>
									<p><label>姓名：</label></p>
									<p th:text="${userInfo.userName}"></p>
								</li>
								<li>
									<p><label>年龄：</label></p>
									<p th:text="${userInfo.age}+'岁'"></p>
								</li>
								<li>
									<p><label>性别：</label></p>
									<p th:text="${userInfo.userSex}"></p>
								</li>
								<li>
									<p><label>出生日期：</label></p>
									<p th:text="${userInfo.birthDate}"></p>
								</li>
								<li>
									<p><label>证件类型：</label></p>
									<p th:text="${userInfo.certificateType}"></p>
								</li>
								<li>
									<p><label>证件编号：</label></p>
									<p th:text="${userInfo.userPid}"></p>
								</li>
								<li>
									<p><label>户籍：</label></p>
									<p th:text="${userInfo.householdRegister}"></p>
								</li>
								<li>
									<p><label>民族：</label></p>
									<p th:text="${userInfo.nation}"></p>
								</li>
								<li>
									<p><label>所在地区：</label></p>
									<p th:text="${userInfo.location}"></p>
								</li>
								<li>
									<p><label>婚姻状况：</label></p>
									<p th:text="${userInfo.marriage}"></p>
								</li>
								<li>
									<p><label>户籍地址：</label></p>
									<p th:text="${userInfo.registerAddress}"></p>
								</li>
								<li>
									<p><label>户籍行政区：</label></p>
									<p th:text="${userInfo.registerAreaOfResidence}"></p>
								</li>
								<li>
									<p><label>居住地址：</label></p>
									<p th:text="${userInfo.liveAddress}"></p>
								</li>
								<li>
									<p><label>居住行政区：</label></p>
									<p th:text="${userInfo.liveAreaOfResidence}"></p>
								</li>
								<li>
									<p><label>社保类型：</label></p>
									<p th:text="${userInfo.socialSecurityType}"></p>
								</li>
								<li>
									<p><label>社保卡号：</label></p>
									<p th:text="${userInfo.socialSecurityCardNo}"></p>
								</li>
								<li>
									<p><label>手机号码：</label></p>
									<p th:text="${userInfo.mobile}"></p>
								</li>
								<li>
									<p><label>固定号码：</label></p>
									<p th:text="${userInfo.tel}"></p>
								</li>
								<li>
									<p><label>文化程度：</label></p>
									<p th:text="${userInfo.degreeOfEducation}"></p>
								</li>
								<li>
									<p><label>政治面貌：</label></p>
									<p th:text="${userInfo.political}"></p>
								</li>
								<li>
									<p><label>退休单位：</label></p>
									<p th:text="${userInfo.retireCompany}"></p>
								</li>
								<li>
									<p><label>退休工资：</label></p>
									<p th:text="${userInfo.retireSalary}"></p>
								</li>
								<li>
									<p><label>职业：</label></p>
									<p th:text="${userInfo.occupation}"></p>
								</li>
								<li>
									<p><label>退休时间：</label></p>
									<p th:text="${userInfo.retireTime}"></p>
								</li>
								<li>
									<p><label>所属管辖机构：</label></p>
									<p th:text="${userInfo.registerAreaOfResidence}"></p>
								</li>
								<li>
									<p><label>居住状态：</label></p>
									<p th:text="${userInfo.liveCondition}"></p>
								</li>
								<li>
									<p><label>当前状态：</label></p>
									<p th:text="${userInfo.status}"></p>
								</li>
							</ul>
						</article>
						<article class="new-add-right">
							<dl class="inline-block relative">
								<dt>
									<p class="filejs" th:if="${ #strings.isEmpty(userInfo.imgPath) }">
										<img src="../userInfo/img/moren.png" class="bock">
									</p>
									<p class="filejs" th:if="${not #strings.isEmpty(userInfo.imgPath) }">
										<img th:src="${userInfo.imgPath}" class="bock">
									</p>
									<div class="textCenter white lh30px mt20px">
										<span class="inline-block pl20px pr20px" style="background: rgba(0, 0, 0, 0.3); color: #fff; border-radius: 15px; line-height: 30px;">已过世</span>
									</div>
								</dt>
							</dl>
						</article>
					</div>
				</div>
				<div class="mb25px">
					<div class="layui-tab pb20px">
						<ul class="layui-tab-title">
							<li class="layui-this" >基本信息</li>
							<li>供餐管理</li>
							<li>便民服务</li>
							<li>健康档案</li>
						</ul>
						<div class="layui-tab-content padding0 border1px" style="border-top: 0; padding: 20px;">
							<div class="layui-tab-item layui-show relative">
								
								<div class="mb25px  pb25px border-bot1px">
									<div class="new-add-title relative overflow mb15px"><span class="ml15px">主要联系人</span></div>
									<div class="border1px border-radius4">
										<table class="layui-table layui-table-header">
											<thead>
												<tr>
													<th>行号</th>
													<th>姓名</th>
													<th>与本人关系</th>
													<th>固定电话</th>
													<th>详细地址</th>
													<th>手机号码</th>
													<th>紧急联系人</th>
												</tr>
											</thead>

											<tbody th:if="${#lists.isEmpty(userInfo.userInfoContactList)}">
									          <tr>
									           	<td colspan="7">无主要联系人</td>
									          </tr>
									        </tbody>
									        
											<tbody>
												<tr  th:each="contact:${userInfo.userInfoContactList}">
													<td th:text="${contactStat.index+1}"></td>
													<td th:text="${contact.contactName}"></td>
													<td th:text="${contact.relationship}"></td>
													<td th:text="${contact.tel}"></td>
													<td th:text="${contact.address}"></td>
													<td th:text="${contact.mobile}"></td>
													<td th:if="${contact.isEmergencyContact}==1">
														<img src="../userInfo/img/duigou.png">
													</td>
													<td th:if="${contact.isEmergencyContact}==2">
														<img src="">
													</td>
												</tr>


												<!-- <tr>
													<td>1</td>
													<td>小茗同学</td>
													<td>配偶</td>
													<td>9999898989</td>
													<td>上海市普陀区中江路</td>
													<td></td>
													<td></td>
												</tr> -->
											</tbody>
										</table>
									</div>
								</div>
								<div class="mb25px">
									<div class="new-add-title relative overflow mb15px"><span class="ml15px">健康状况</span></div>
									<ul class="overflow new-add-textarea pb25px border-bot1px">
										<li class="relative">
											<p><label>健康状况既往疾病史：</label></p>
											<p th:text="${userInfo.healthDescription}"></p>
										</li>
									</ul>
								</div>
								<div class="mb25px">
									<div class="new-add-title relative overflow mb15px"><span class="ml15px">服务类型</span></div>
									<div class="new-add-con pb25px border-bot1px">
										<article class="new-add-left new-add-left-two">
											<ul class="overflow">
												<li>
													<p><label>目前养老状况：</label></p>
													<p th:text="${userInfo.pensionStatus}"></p>
												</li>
												<li class="width-three layui-form">
													<p><label>照顾人群：</label></p>
													<p th:text="${userInfo.careCrowd}"></p>
												</li>
											</ul>
										</article>
									</div>
								</div>
								<div class="mb25px">
									<div class="new-add-title relative overflow mb15px"><span class="ml15px">其他标签</span></div>
									<div class="pb25px border-bot1px">
										<ul class="layui-form layui-form-color">
											<li class="overflow mb10px">
												<p class="left"><label>居家情况：</label></p>
												<p class="left" th:text="${userInfo.liveHomeStatus}"></p>
											</li>
											<li class="overflow mb10px">
												<p class="left"><label>持证情况：</label></p>
												<p class="left" th:text="${userInfo.holdCertificateStatus}"></p>
											</li>
											<li class="overflow mb10px">
												<p class="left"><label>认知情况：</label></p>
												<p class="left" th:text="${userInfo.cognitionStatus}"></p>
											</li>
											<li class="overflow mb10px">
												<p class="left"><label>涉外情况：</label></p>
												<p class="left" th:text="${userInfo.foreignIdentityStatus}"></p>
											</li>
											<li class="overflow mb10px">
												<p class="left"><label>安全情况：</label></p>
												<p class="left" th:text="${userInfo.safeStatus}"></p>
											</li>
											<li class="overflow mb10px">
												<p class="left"><label>健康情况：</label></p>
												<p class="left" th:text="${userInfo.healthStatus}"></p>
											</li>
											<li class="overflow mb10px">
												<p class="left"><label>其他情况：</label></p>
												<p class="left" th:text="${userInfo.otherStatus}"></p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="layui-tab-item layui-time-img">
								<div class="overflow lh32px border-bot1px pb20px">
									<div class="overflow left">
										<p class="left">送餐开始日期：</p>
										<p class="left"><input type="text" name="price_min" placeholder="2020-12-12" class="layui-input test-item"></p>
									</div>
									<div class="overflow left mr40px ml40px">
										<p class="left">送餐开始日期：</p>
										<p class="left"><input type="text" name="price_min" placeholder="2020-12-12" class="layui-input test-item"></p>
									</div>
									<div class="left"><span class="block border-radius4 white bgGreen white pl20px pr20px">查&nbsp;询</span></div>
								</div>
								<div class="new-add-title relative overflow mt20px mb20px"><span class="ml15px">送餐情况</span></div>
								<div id="main1" style="width: 700px; height: 400px;"></div>
							</div>
							<div class="layui-tab-item">
								<div class="new-add-title relative overflow mb15px"><span class="ml15px">优惠卷信息</span></div>
								<ul class="disco-ul">
									<li>
										<p>
											<span>理发券发放数/年：</span>
											<span>12</span>
										</p>
										<p>
											<span>理发券发放数/年：</span>
											<span>12</span>
										</p>
										<p>
											<span>理发券发放数/年：</span>
											<span>12</span>
										</p>
									</li>
									<li>
										<p>
											<span>缝纫券发放数/年：</span>
											<span>12</span>
										</p>
										<p>
											<span>缝纫券发放数/年：</span>
											<span>12</span>
										</p>
										<p>
											<span>缝纫券发放数/年：</span>
											<span>12</span>
										</p>
									</li>
								</ul>
								<nav class="layui-form more-date mt15px mb15px">
									<p class="fb f16px mb15px">消费明细：</p>
									<ul>
										
										<li>
											<div>时间</div>
											<div>
												<p class="layui-time-img">
													<span class="layui-input-inline" style="width: 160px;">
														<input type="text" name="price_min" placeholder="2020-12-12" autocomplete="off" class="layui-input test-item1">
													</span>
													<span>&nbsp;-&nbsp;</span>
													<span class="layui-input-inline" style="width: 160px;">
														<input type="text" name="price_max" placeholder="2020-12-12" autocomplete="off" class="layui-input test-item2">
													</span>
												</p>
												<p><span class="mr20px">最近：</span><span class="mr20px">1个月</span><span class="mr20px">3个月</span><span class="mr20px">6个月</span></p>
											</div>
										</li>
										<li>
											<div>状态</div>
											<div class="select-cur">
												<p class="green">不限</p>
												<p>未使用</p>
												<p>已使用</p>
												<p>失效</p>
											</div>
										</li>
										<li>
											<div>类型</div>
											<div class="select-cur">
												<p class="green">不限</p>
												<p>理发券</p>
												<p>缝纫券</p>
											</div>
										</li>
									</ul>
								</nav>
								<table class="layui-hide tab-con-next" id="test" lay-filter="test"></table>
							</div>

							<div class="layui-tab-item ">
								<div class="layui-tab layui-tab-parent">
									<ul class="layui-tab-title">
										<li class="layui-this">基本信息</li>
										<li>体格检查</li>
										<li>血糖记录</li>
										<li >血压记录</li>
									</ul>
									<div class="layui-tab-content layui-tab-content-child padding0 border1px" style="padding: 20px;">
										<div class="layui-tab-item layui-show">
											<nav class="border-bot1px pb20px mb20px">
												<div class="new-add-title relative overflow mb15px"><span class="ml15px">老人基本信息</span></div>
												<ul class="disco-ul">
													<li>
														<p>
															<span>住院编号：</span>
															<span>20202020</span>
														</p>
														<p>
															<span>理发券发放数/年：</span>
															<span>12</span>
														</p>
														<p>
															<span>理发券发放数/年：</span>
															<span>12</span>
														</p>
													</li>
													<li>
														<p>
															<span>住院编号：</span>
															<span>20202020</span>
														</p>
													</li>
												</ul>
											</nav>
											<nav class="border-bot1px pb20px mb20px">
												<div class="new-add-title relative overflow mb15px"><span class="ml15px">老人基本信息</span></div>
												<ul class="disco-ul">
													<li>
														<p>
															<span>理发券发放数/年：</span>
															<span>12</span>
														</p>
														<p>
															<span>理发券发放数/年：</span>
															<span>12</span>
														</p>
													</li>
													<li>
														<p>
															<span>理发券发放数/年：</span>
															<span>12</span>
														</p>
														<p>
															<span>理发券发放数/年：</span>
															<span>12</span>
														</p>
													</li>
												</ul>
											</nav>
										</div>
										<div class="layui-tab-item">222</div>
										<div class="layui-tab-item">
											<div class="new-add-title relative overflow mb15px"><span class="ml15px">近七天血糖记录</span></div>
											<div id="main2" style="width: 700px; height: 500px;"></div>
										</div>
										<div class="layui-tab-item ">
											<div class="new-add-title relative overflow mb15px"><span class="ml15px">近七天血压记录</span></div>
											<div id="main3" style="width: 700px; height: 500px;"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-footer layui-footer-one">
		<div class="btn-con textCenter"> 
			<span class="btn-one" onclick="backList()">返回列表</span>
			<span class="btn-two"  onclick="getPdf()">导出为PDF文件</span>
			<!-- <span class="btn-three" onclick="editArchives()">编辑档案</span> -->
			<span class="btn-three" onclick="deleteArchives()">删除档案</span>
			<!-- <span class="btn-four" onclick="dealDeathTipLayerOpen()">离世处理</span> -->
		</div>
	</div>
	


<script src="../js/jquery-2.1.3.min.js"></script>
<script src="../layui/layui.js" charset="utf-8"></script>
<script src="../js/echarts.min.js" charset="utf-8"></script>
<script src="../userinfo/js/data1.js" charset="utf-8"></script>
<script>


	$(function(){
		$('.select-cur p').click(function(){
			$(this).addClass('green').siblings().removeClass('green');
		})

		layui.use(['laydate'], function() {
			var laydate = layui.laydate;
			laydate.render({
				elem: '.test-item',
				trigger: 'click',
			});
			laydate.render({
				elem: '.test-item1',
				trigger: 'click',
			});
			laydate.render({
				elem: '.test-item2',
				trigger: 'click',
			});
			
		});

		BMList();
	})


	/****************************基本信息********************************/
	//返回列表
	function backList(){
		window.location.href="../userInfo/jumpUserInfoList";
	}

	//导出pdf
	function getPdf(){
		var userNo = $("#userNo").val();
		window.location.href="../userInfo/getPdfByUserNo?userNo="+userNo;
	}


	//删除档案
	function deleteArchives(){
		layer.confirm('确定要删除档案么？', {
		  btn: ['确定', '取消'] //可以无限个按钮
		}, function(index, layero){
		  	del();
		}, function(index){
		  
		});
	}
	//删除
	function del(){
		var userNo = $("#userNo").val();
		var formDate =
        {
            userNo: userNo
        };

		$.ajax({
            url: "../userInfo/deleteUserInfoByUserNo",
            type: "post",
            dataType: "json",
            data: formDate,
            async: false,
            success: function (res) {	
                if (res.code == "200") {
                	layer.msg('删除成功', {icon: 1,time:1500},function(){
                		//删除成功 返回列表页
                		window.location.href="../userInfo/jumpUserInfoList";
                	});
                }else{
                	layer.msg(res.msg, {icon: 2});
                }
            },
        });

	}



	//便民服务列表
	function BMList(){
		layui.use(['element', 'table'], function() {
			var element = layui.element;
			var table = layui.table;
			//表格
			var data = [{
					"id": 0,
					"username": 0,
					"sex": 1,
					"city": "用户管理",
					"sign": "open:user:manage",
				},
				{
					"id": 1,
					"username": 0,
					"sex": 1,
					"city": "用户管理",
					"sign": "open:user:manage",
				},
				{
					"id": 1,
					"username": 0,
					"sex": 1,
					"city": "用户管理",
					"sign": "open:user:manage",
				},
				{
					"id": 1,
					"username": 0,
					"sex": 1,
					"city": "用户管理",
					"sign": "open:user:manage",
				},
			];
			//第一个实例
			table.render({
				elem: '#test'
					//,url: '/demo/table/user/'
					,
				data: data,
				page: false //开启分页
					,
				cols: [
					[ //表头
						{
							field: 'id',
							title: '序号',
						}, {
							field: 'username',
							title: '类型',
						}, {
							field: 'sex',
							title: '日期',
						}, {
							field: 'city',
							title: '来源/使用地点',
						}, {
							field: 'sign',
							title: '优惠卷明细',
						}
					]
				]
			});
			
		});
	}





	function isNull(value) {
		return value == null || value === "" || value === undefined;
	}



</script>	
</body>

</html>
