<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/thesame.css" media="all">
    <link rel="stylesheet" href="../css/headCss.css" media="all">
    <link rel="stylesheet" href="../css/leftSidebar.css" media="all">
    <link rel="stylesheet" href="../bmuserinfo/css/rightCon.css" media="all">
    <link rel="stylesheet" href="../bmuserinfo/css/page.css" media="all">
    <link rel="stylesheet" href="../bmuserinfo/css/popCss.css" media="all">
</head>

<body class="layui-layout-body">
<div class="layui-body pad12px">
    <!-- 内容主体区域 -->
    <div class="layui-box-con relative">
        <div class="layui-left-con layui-left-label-con pad12px">
            <div class="border-radius4 bgWhite box-shadows">
                <div class="new-add-box-scroll">
                    <nav class="label-nav-con">
                        <div class="area-nav-con">
                            <div class="f16px"><img src="../bmuserinfo/img/icon_pianqu.png">标签类别<span class="inline-block"><img src="../bmuserinfo/img/icon_select_up.png" alt=""></span></div>
                            <ul class="lh40px f14px">
                                <li class="current">居家情况</li>
                                <li>认知情况</li>
                                <li>居家情况</li>
                                <li>认知情况</li>
                                <li>居家情况</li>
                                <li>认知情况</li>
                            </ul>
                        </div>
                        <div class="area-nav-con">
                            <div class="f16px"><img src="../bmuserinfo/img/icon_pianqu.png">标签类别<span class="inline-block"><img src="../bmuserinfo/img/icon_select_down.png" alt=""></span></div>
                            <ul class="lh40px f14px">
                                <li class="current">居家情况</li>
                                <li>认知情况</li>
                                <li>居家情况</li>
                                <li>认知情况</li>
                                <li>居家情况</li>
                                <li>认知情况</li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="layui-right-con layui-right-label-con">
            <div class="border-radius4 bgWhite box-shadows">
                <div class="scroll-box-con">
                    <div class="border-bot1px pb20px mb20px">
                        <div class="add-mess">
                            <div class="add-mess-child left">
                                <div>
                                    <label>关键字：</label>
                                </div>
                                <div class="add-mess-form">
                                    <p class="add-mess-form-tree"><input type="text" id="param" placeholder="请输入"></p>
                                </div>

                            </div>
                            <div class="left">
                                <span class="white border-radius4 bgGreen block pl20px pr20px ml30px lh34px" id="serchBtn">查&nbsp;询</span>
                            </div>
                        </div>
                    </div>
                    <div class="mb20px lh32px overflow add-btn-input">
                        <div class="layui-btn-group demoTable">
                            <p class="left cursor">
                                <span class="white border-radius4 bgGreen inline-block pl15px pr15px layui-btn layui-btn" data-type="getCheckData"><img src="../bmuserinfo/img/button_add.png">添加老人</span>
                                <span class="white border-radius4 bgGreen inline-block pl15px pr15px ml25px mr25px layui-btn" data-type="getCheckLength"><img src="../bmuserinfo/img/icon_quan.png">批量发券</span>
                                <span class="white border-radius4 bgRed inline-block pl15px pr15px layui-btn" data-type="isAll"><img src="../bmuserinfo/img/icon_delete.png">批量移除</span>
                            </p>
                        </div>
                        <p class="right">优惠老人总数：<span class="green"><em id="count"></em>人</span></p>
                    </div>
                    <div class="border1px border-radius4 relative mb40px">
                        <table class="layui-hide" id="test" lay-filter="test"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--弹层-->
<div id="pop-con" style="display:none;">
    <div class="pop-up">
        <div>
            <div class="pop-title relative overflow mb15px">
                <span class="ml15px">编辑</span>
                <p class="right"><img src="../bmuserinfo/img/close_icon.png" class="block pop-close"></p>
            </div>
            <div class="pop-form mt30px mb30px">
                <div class="layui-form-item lh32px">
                    <label class="left">发放数量：</label>
                    <span class="left" style="width: 300px;">
								<input type="number" id="coupons" oninput="if(value.length>5)value=value.slice(0,5)" placeholder="请输入数量" class="layui-input">
							</span>
                    <label class="right">张/人/年</label>
                </div>
            </div>
            <div class="btn-con textCenter">
                <span class="btn-one pop-close">取&nbsp;消</span>
                <span class="btn-two" id="fix" onclick="fix">确&nbsp;定</span>
            </div>
        </div>
    </div>
</div>

<!--<script type="text/html" id="barDemo">-->
<!--    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
<!--    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
<!--</script>-->

<script src="../js/jquery-2.1.3.min.js"></script>
<script src="../layui/layui.js" charset="utf-8"></script>
<script src="../bmuserinfo/js/treeTwo.js"></script>
<script>

    $(function () {
        getData();

        $("#serchBtn").click(function () {
            getData();
        })
    });

    function getData() {
        layui.use(['element', 'table', 'layer'], function () {
            var element = layui.element;
            var table = layui.table;
            var layer = layui.layer;
            var param = $("#param").val();
            //第一个实例
            table.render({
                elem: '#test'//,url: '/demo/table/user/'
                , url: "../bmuserinfo/getBmUserinfoList"
                , where: {param: param, type: 1}
                // , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                // , toolbar: true
                // , defaultToolbar: []
                , request: {
                    pageName: 'currentPage' //页码的参数名称，默认：page
                    , limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
                //,count: 10  //数据总数，从服务端得到
                //,data: listData
                , page: true //开启分页
                , limit: 10 //每页显示的条数
                //,limits:[3,4,5]
                , groups: 9 //连续页码个数
                , parseData: function (res) {
                    console.log(res);
                    return {
                        "code": res.code,
                        "data": res.data.list,
                        "count": res.data.total,
                        "limit": res.data.pageSize,
                    };
                },
                cols: [
                    [ //表头
                        {
                            type: 'checkbox',
                            fixed: 'left'
                        }, {
                        field: 'userName',
                        title: '姓名',
                    }, {
                        field: 'userSex',
                        title: '性别',
                    }, {
                        field: 'age',
                        title: '年龄',
                    }, {
                        field: 'belongOrganization',
                        title: '管辖机构',
                    }, {
                        field: 'totalCoupons',
                        title: '发放券数/年',
                    }, {
                        field: 'usedCoupons',
                        title: '已用券数/年',
                    }, {
                        field: 'unusedCoupons',
                        title: '剩余券数/年',
                    }, {
                        field: 'operation',
                        title: '操作',
                        style: 'color:#1C9399',
                        fixed: 'right',
                        templet: function (res) {
                            // console.log(res);
                            return "<div class='table-list-btn'><span onclick=\"getBmUserinfoDetails('" + res.userNo + "')\">查看</span></div>"
                        }
                    }
                    ]
                ], done: function (res, curr, count) {
                    $("#count").text(count);
                }
            });
            //监听表格复选框选择
            table.on('checkbox(test)', function (obj) {
                console.log(obj)
            });

            layui.$, active = {
                getCheckData: function () { //跳转添加老人页
                    window.location.href = "../bmuserinfo/toAddBmUserinfo?type=1";
                }
                , getCheckLength: function () { //批量发券
                    var checkboxValue = ""
                    var checkStatus = table.checkStatus('test')
                        , data = checkStatus.data;
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            checkboxValue += data[i].userNo + ",";
                        }
                        //弹层
                        layerOpen();
                        $("#fix").click(function () {
                            faquan(checkboxValue.slice(0, checkboxValue.length - 1));
                        })
                    } else {
                        layer.msg("请选择老人");
                    }
                }
                , isAll: function () { //批量移除
                    var checkboxValue = ""
                    var checkStatus = table.checkStatus('test')
                        , data = checkStatus.data;
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            checkboxValue += data[i].userNo + ",";
                        }
                        del(checkboxValue.slice(0, checkboxValue.length - 1));
                    } else {
                        layer.msg("请选择老人");
                    }
                }
            };

            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    }


    //批量移除老人
    function del(ids) {
        var data = {ids: ids, type: 1};
        layer.confirm('是否确认移除选中老人', {
            btn: ['确定', '取消']
        }, function () {
            layer.closeAll();
            $.ajax({
                url: "../bmuserinfo/batchRemove",
                type: "post",
                async: false,
                dataType: "json",
                data: data,
                success: function (result) {
                    if (result.code == 200) {
                        layer.msg(result.msg);
                        getData();
                    } else {
                        layer.msg(result.msg);
                    }
                }
            })
        });
    }


    //弹层
    function layerOpen() {
        layer.open({
            type: 1,
            title: false, //不显示标题栏
            closeBtn: false,
            area: ['500px', ''],
            shade: 0.6,
            id: 'payCons', //设定一个id，防止重复弹出
            /*,btn: ['确认支付']*/
            btnAlign: 'c',
            moveType: 1, //拖拽模式，0或者1
            shadeClose: true, //设置允许点遮罩关闭
            content: $("div#pop-con"),
            success: function () {
                //关闭弹层
                $(".pop-close").click(function () {
                    layer.closeAll();
                });
            },

        });
    }

    //侧边栏折叠收起
    $('.area-nav-con:gt(0) ul').hide();
    $('.area-nav-con div').click(function () {
        $(this).next().slideToggle(300);
        if ($(this).find('span img').attr('src') == 'img/icon_select_up.png') {
            $(this).find('span img').attr('src', 'img/icon_select_down.png');
            //$(this).parent().siblings().find('img').attr('src', 'img/icon_up.png')
        } else {
            $(this).find('span img').attr('src', 'img/icon_select_up.png')
        }
    })
    /* 			$('.tree-one div.tree-children div p.tree-arrow').click(function() {
                    $(this).parent().parents('div.tree-children').nextAll('ul').slideToggle(300);
                    if ($(this).find('img').attr('src') == 'img/icon_up.png') {
                        $(this).find('img').attr('src', 'img/icon_down.png');
                        //$(this).parent().siblings().find('img').attr('src', 'img/icon_up.png')
                    } else {
                        $(this).find('img').attr('src', 'img/icon_up.png')
                    }
                }) */
    //侧边栏旋选中样式
    $('.label-nav-con li').click(function () {
        $(this).addClass('current').siblings().removeClass('current');
    })


    //发券
    function faquan(ids) {
        var coupons = $("#coupons").val();
        var data = {ids: ids, type: 1, coupons: coupons}
        $.ajax({
            url: '../bmuserinfo/batchCoupons',
            type: 'post',
            data: data,
            dataType: 'json',
            async: true,
            success: function (data) {
                if (data.code == 200) {
                    layer.closeAll();
                    layer.msg(data.msg);
                    getData();
                } else {
                    layer.msg(data.msg);
                }
            }
        });
    }

    //查看老人详情
    function getBmUserinfoDetails(userNo) {
        window.location.href = "../bmuserinfo/toBmUserinfoPage?id=" + userNo + "&type=1"
    }

    function isNull(value) {
        return value == null || value === "" || value === undefined;
    }
</script>
</body>

</html>
