/* 分页 */
.layui-table-page{ height: auto; line-height: 32px; padding: 15px; border-top: 1px solid #eee; text-align: right; }
.layui-table-page > div{ height: auto; }
.layui-laypage .layui-laypage-curr .layui-laypage-em { background-color: #1C9399; }
.layui-table-page .layui-laypage a, .layui-table-page .layui-laypage span,.layui-table-page .layui-laypage button, .layui-table-page .layui-laypage input,.layui-table-page select{ height: 32px; line-height: 32px; margin-bottom: 0; box-sizing: border-box; }
.layui-laypage-em,.layui-table-page .layui-laypage input,.layui-table-page .layui-laypage button, .layui-table-page .layui-laypage input,.layui-laypage select{ border-radius: 6px; }
.layui-table-page select{ padding: 0 3px; }
.layui-laypage input:focus,.layui-laypage select:focus{ border-color: #1C9399!important; }
.number-page{ position: absolute; left: 15px; bottom: 15px; line-height: 32px; }
/* /分页 */