<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caifu.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.caifu.pojo.SysUser">
        <id column="USER_NO" property="userNo" />
        <result column="USER_NAME" property="userName" />
        <result column="USER_PHOTO" property="userPhoto" />
        <result column="LOGIN_NAME" property="loginName" />
        <result column="PASSWORD" property="password" />
        <result column="PHONE" property="phone" />
        <result column="SALT" property="salt" />
        <result column="PAW" property="paw" />
        <result column="POST" property="post" />
        <result column="ORG_ID" property="orgId" />
        <result column="STATUS" property="status" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="LOGIN_TIME" property="loginTime" />
        <result column="POST_TYPE" property="postType" />
        <result column="token" property="token" />
        <result column="PASSWORD_EDIT_FLAG" property="passwordEditFlag" />
    </resultMap>

</mapper>
